<div class="container">
  <h1>Text Center</h1>
  <div class="row">
    <% 40.times do |i| %>
      <div class="col-md-3">
        <%= image_tag "image.jpg?q=#{i}", class: "img-thumbnail", style: "width: 100%; height: initial;" %>
      </div>
    <% end %>
  </div>
</div>
