<div class="container">
  <h1>Example</h1>
  <div class="row">
    <% 4.times do |i| %>
      <div class="col-md-3">
        <%= image_tag "image.jpg?q=#{i}", class: "img-thumbnail", width: 260, height: 170, progressive: {src: "image-tiny.jpg?q=#{i}", size: :fixed} %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= image_tag "image.jpg", class: "img-thumbnail", progressive: "image-tiny.jpg" %>
  </div>
  <% 4.times do |i| %>
    <div class="col-md-3">
      <%= image_tag "image.jpg?q=#{i}", class: "img-thumbnail", width: 260, height: 170, progressive: {color: "#dcdcdc"} %>
    </div>
  <% end %>
</div>
